<div class="container">
  <div class="columns is-multiline is-centered">
    <div class="column is-half">
      <% if instruction.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(instruction.errors.count, "error") %> prohibited this instruction from being saved:
          </h2>
          <ul>
            <% @instruction.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="title">
      Instruction:
    </div>
      <div class="field">
        <div class="control">
          <%= form_with model: [@recipe, @instruction], local: true do |form| %>
            <%= form.text_area :body, class: "input", placeholder: "Enter instruction" %>
            <%= form.submit submit, class: "button" %>
            <%= link_to "Cancel", recipe_path(recipe), class: "button" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
