
<nav class="navbar">
        <div class="container">
            <div class="navbar-brand">

                <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                <span></span>
                <span></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu is-size-5">
                <div class="navbar-end">
                <%= link_to 'Home', root_path, class: "navbar-item" %>
                  <% if logged_in? %>
                    <%= link_to 'New Recipe', new_recipe_path, data: { turbolinks: false }, class: "navbar-item" %>
                    <%= link_to 'Log Out', logout_path, method: :delete, class: "navbar-item" %>
                  <% else %>
                    <%= link_to 'Sign In', login_path, class: "navbar-item" %>
                    <%= link_to 'Sign Up', users_signup_path, class: "navbar-item" %>
                  <% end %>
                </div>
            </div>
        </div>
    </nav>
